* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 193, 165);
}

#card{
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.18);
}

#img{
    position: relative;   
    overflow: hidden;
}

#img img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}

#img i{
    position: absolute;
    font-size: 30px;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1) rotate(0deg);
    color: white;
    background: url(./assets/bg.png);
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;     
    -webkit-text-fill-color: transparent; 
    opacity: 0;
    transition: all 0.4s cubic-bezier(.37, 1.1, 1, 1.29);
}

#card p{
    padding: 10px 0 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}