* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 193, 165);
}

#card{
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.18);
}

#img img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#card p{
    padding: 10px 0 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}